body {
  padding: 5px;
  background-color: var(--tg-theme-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tg-button{
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
.tg-text-color{
  color: var(--tg-theme-button-text-color);
}
.counter{
  color: var(--tg-theme-button-text-color);
  padding: 2px;
  width: 30px;
  height: 30px;
  background-color: orangered;
  border-radius: 100%;
  position: absolute;
  right: 0px;
}